# Default ignored files
/shelf/
/workspace.xml
.eggs/
.conda/
.idea/
.vscode/
**/__pycache__/
/ventura_easeapi.egg-info/


# Ignore other files or directories
*.pyc
*.pyo
*.pyd
*.swp
*.swo
.DS_Store
.DS_Store?
.env